.search{
	margin-top: 10%;

}

.recipe{
	padding: 0px;
	margin: 0px;
	display: inline-block;
	width: 50%;
}
.recipe p{
	margin: 0px;
}
.recipe img {
	width: 100%;
}
.title{
	position: absolute;
	z-index: 1;
	width:48.5%;
	color: #D1D0CE;
	font-size: 0.9em;
	text-shadow: 1px 1px 2px black;
	
	
	
	
}
.ui-content{
	padding: 0px;
}
