.search{
	

}
.search input{
	width: 100%;
	display: block;
	
	
}
.search h3, .seach input{

	display: block;
	margin: auto 0;
}

.recipe{
	padding: 0px;
	margin: 0px;
	display: inline-block;
	width: 50%;
}
.recipe p{
	margin: 0px;
}
.recipe img {
	width: 100%;
}
.title{
	position: absolute;
	z-index: 1;
	width:48.5%;
	color: #D1D0CE;
	font-size: 0.9em;
	text-shadow: 1px 1px 2px black;
}
.ui-content{
	padding: 0px;
}
#stuff {
	margin-top: 50px;
}

.effects{
border-style:solid;
border-color:#000;
background-color:#CCC;
float:none;
}
#dates{
	width: 100%;
	float: left;
	background: #000;
}

.days{
	text-align: center;
	font-size: 1em;
	color: #FFF;


float:left;
margin:auto;
width:14.22%;
}
.green{
	background: #009900;
}
.darkGreen{
	background: #006600;
}

.boolean{
border-left:0px;
border-right:0px;
border-style:solid;
border-color:#000;
background-color:#FFF;
float:none;
margin:auto;
color: #000;
}
#Fav{
	
}
#Fav h4{
	text-align: right;
	
}
#coc{
	background: #FFF;
}
